
@*

  Page Name:  ReferralTasksDueTodayPartial.cshtml                    
  Version:  1.0                                                
  Purpose:  Create ReferralTasksDueTodayPartial View Page
  Revision History:                                          
                                                             
    1.0 – 10/31/2012 Robin Singh   

 * Description : Created ReferralTasksDueTodayPartial View Page 

*@
<h2>ReferralTasksDueTodayPartial Content Here</h2>