@using ITS.Infrastructure.Global;
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
@section ContentHeader{
    <h1>Add New User</h1>
}
<div id="breadcrumb">
    <a href="@Url.Action("Index")" title="Go to Home"><i class="icon-home"></i>Users</a><a
        href="#" class="tip-bottom">Add</a>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-align-justify"></i></span>
                    <h5>User Details</h5>
                </div>
                <div class="widget-content nopadding" id="divAddUser">
                    @using (Html.BeginForm(GlobalConst.Actions.UserController.Save, GlobalConst.Controllers.User, FormMethod.Post, new { @class = "form-horizontal", id = "frmAddUser" }))
                    {
                        <div class="control-group">
                            <label class="control-label">
                                User Type:</label>
                            <div class="controls">
                                <select id="Usertypes" name="UserTypeID" data-bind="options:UserTypes, optionsText:'UserType',optionsValue:'UserTypeID',value:SelectedUserTypeID,jqBootstrapValidation: {}"
                                    required>
                                </select>
                            </div>
                        </div>
                        <!--ko if: SelectedUserTypeID() == 2 -->
                        <div class="control-group">
                            <label class="control-label">
                                User Role:</label>
                            <div class="controls">
                                <select id="objReferrerTypes" name="ReferrerTypes" data-bind="options:ReferrerTypes, optionsText:'ReferrerType',optionsValue:'ReferrerTypeID',optionsCaption:'Choose..',value:ReferrerTypeID,jqBootstrapValidation: {}
                                    , event:{ change: function(){ReferrerProjectChange()}}" required>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Referrer Assignment:</label>
                            <div class="controls">
                                <select id="ReferrerID" name="ReferrerID" data-bind="options:Referrers, optionsText:'ReferrerName',optionsValue:'ReferrerID',optionsCaption:'Choose..',value:ReferrerID,jqBootstrapValidation: {}, event:{ change: ReferrerAssignmentChange(ReferrerID())}"
                                    required>
                                </select>
                            </div>
                        </div>
                        <!--ko if: ReferrerTypeID() == 'Referrer Project Admin' || ReferrerTypeID() == 'Referrer Project User' -->
                        <div id="divUserProjects" class="control-group">
                            <label class="control-label">Projects:</label>
                            <div class="controls">
                                <select id="ddlReferrerProjects" data-bind="options: ReferrerProjects, optionsText: 'ProjectName', optionsValue: 'ReferrerProjectID', value: userSelectedProject">
                                </select>
                                <!--ko if: ReferrerTypeID() == 'Referrer Project User' -->
                                <input type="hidden" id="hdnUserProject" name="ReferrerProjectID" data-bind="value: userSelectedProject" />
                                <!-- /ko -->
                                <!--ko if: ReferrerTypeID() == 'Referrer Project Admin' -->
                                <input id="btnAddProject" type="button" class="btn btn-info" value="Add" data-bind="event:{click: addProjectToList}" />
                                <table id="tblUserProject" class="table table-bordered table-striped table-hover sortable tbl-add-Project hide">
                                    <thead>
                                        <tr>
                                            <th width="90%">Project Name</th>
                                            <th width="10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--ko foreach: UserProjects -->
                                        <tr>
                                            <td><span data-bind="text: ProjectName"></span>
                                                <input type="hidden" name="ReferrerProjectID" data-bind="value: ReferrerProjectID" />
                                            </td>
                                            <td style="text-align: center">
                                                <input id="btnRemoveProject" type="button" class="btn btn-danger" value="Remove" data-bind="event : {click: $root.removeProjectFromList}" />
                                            </td>
                                        </tr>
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                                <!-- /ko -->
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="control-group">
                            <label class="control-label">
                                Location Assignment:</label>
                            <div class="controls">
                                <select id="ReferrerLocationID" name="ReferrerLocationID" data-bind="options:ReferrerLocations,optionsText:'Name',optionsValue:'ReferrerLocationID',optionsCaption:'Choose..',value:ReferrerLocationID, jqBootstrapValidation: {}"
                                    required>
                                </select>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!--ko if: SelectedUserTypeID() == 3 -->
                        <div class="control-group">
                            <label class="control-label">
                                Supplier Types:</label>
                            <div class="controls">
                                <select id="objSupplierTypes" name="SupplierTypes" data-bind="options:SupplierTypes, optionsText:'SupplierType',optionsValue:'SupplierTypeID',optionsCaption:'Choose..',value:SupplierTypeID,jqBootstrapValidation: {}"
                                    required>
                                </select>

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Supplier Assignment:</label>
                            <div class="controls">
                                <select id="SupplierID" name="SupplierID" data-bind="options:Suppliers, optionsText:'SupplierName',optionsCaption:'Choose..',optionsValue:'SupplierID',jqBootstrapValidation:{}"
                                    required>
                                </select>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="control-group">
                            <label class="control-label">
                                User Login</label>
                            <div class="controls">
                                <input type="text" id="txtUserName" name="UserName" class="pwd-check" placeholder="User Name" data-bind="jqBootstrapValidation: {}"
                                    data-validation-ajax-ajax="/UserShared/UserExists" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"> 
                                Password</label>
                            <div class="controls">
                                <input type="password" name="Password" id="Password" class="pwd-check" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{9,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 9 or more characters"
                                     data-bind="jqBootstrapValidatio:{}" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Confirm Password</label>
                            <div class="controls">
                                <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password"
                                    data-bind="jqBootstrapValidation:{}" data-validation-match-match="Password" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                First Name</label>
                            <div class="controls">
                                <input type="text" name="FirstName" placeholder="First Name" data-bind="jqBootstrapValidation: {}"
                                    required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Last Name</label>
                            <div class="controls">
                                <input type="text" name="LastName" placeholder="Last Name" data-bind="jqBootstrapValidation: {}"
                                    required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Email</label>
                            <div class="controls">
                                <input type="text" name="Email" data-validation-regex-regex='^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$'
                                    data-validation-regex-message="Not a valid email address" placeholder="email@email.com"
                                    data-bind="jqBootstrapValidation: { }" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Telephone</label>
                            <div class="controls">
                                <input type="text" name="Telephone" placeholder="Telephone" class="phoneMaskformat" data-bind="jqBootstrapValidation: {}"
                                    required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Fax</label>
                            <div class="controls">
                                <input type="text" name="Fax" placeholder="Fax" class="phoneMaskformat" data-bind="jqBootstrapValidation: {}" />
                            </div>
                        </div>
                        <div class="controls">
                            <input type="checkbox" id="IsLocked" name="IsLocked" value="true" />
                            Locked
                        </div>
                     
                        <div class="form-actions">
                            <div class="column-groups-button">
                                <button id="btnSave" type="submit" class="btn btn-primary btn-block" data-loading-text="Saving...">
                                    Save</button>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <!--</form>-->
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="footer" class="span12">
            2012 - 2013 &copy; ITS Portal v1.0
        </div>
    </div>
</div>
@section AdditionalScripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout/viewmodel/views/user/AddViewModel.js")"></script>
    <script type="text/javascript">
        //test run this will be converted to ko js
        var viewModel = new AddViewModel();
        ko.applyBindings(viewModel, $("#divAddUser").get(0)); //submit the form in knockout js to save! do not an ajax call to save!
    </script>
}
