@using ITS.Infrastructure.Global;
@model ITS.Domain.Models.ITSUser
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<section>
    <h1 class="h1-font">Welcome to Insight Portal</h1>


</section>

<div id="divPassword" class="password-set-box">
    <div class="password-reset">
        <form onsubmit="return false">
            @if (Model.Cnt == 1)
            { 
                <h1>Your password has expired. Please create a new password.</h1>
            }
            else
            {
                <h1>Reset Password</h1>
            } 

            <div class="its-authorisation-row3">
                <div class="clear">
                </div>
                <div class="row3-label">
                    <ul>
                        <li>Password OTP:</li>
                    </ul>
                </div>
                <div class="row3-input">
                    <ul>
                        <li>
                            <input type="text" id="PasswordOTP" required="required" maxlength="6" placeholder="Password OTP" autocomplete="off" class="form-control set-padding" name="PasswordOTP" />
                        </li>
                    </ul>
                </div>
                <div class="clear">
                </div>
                <div class="row3-label">
                    <ul>
                        <li>New Password :</li>
                    </ul>
                </div>
                <div class="row3-input">
                    <ul>
                        <li>
                            <input type="password" id="Password" required="required" autocomplete="off"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{9,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 9 or more characters"
                                data-bind="jqBootstrapValidation: {}" placeholder="New Password" class="form-control set-padding" name="Password" />
                            <input type="hidden" name="UserID" id="hfUserID" value="@Model.UserIDEncry">
                            <input type="hidden" name="UserID" id="hfPasswordOTP" value="@Model.PasswordOTPDB">
                        </li>
                    </ul>
                </div>
                <div class="clear">
                </div>
                <div class="row3-label">
                    <ul>
                        <li>Confirm Password :</li>
                    </ul>
                </div>
                <div class="row3-input">
                    <ul>
                        <li>
                            <input type="password" placeholder="Confirm Password" required="required" class="form-control set-padding" data-bind="jqBootstrapValidation: {}" autocomplete="off"
                                data-validation-match-match="Password" id="Cpassword" name="Cpassword" />
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
                <br />
                <button class="submit-btn mt-7" type="submit" id="ResetPassword" aria-hidden="true">Reset Password</button>
            </div>

            @if (Model.Message == "Expired")
            {
                <script type="text/javascript">
                    alert("One hour time duration expired to reset password.Try again with new password!");
                    window.location = "/Home/";
                </script>
            }
            @if (Model.PasswordOTPDB == null)
            {
                if (Model.Cnt == 1)
                {
                <script type="text/javascript">
                    alert("You already changed your login password.");
                    window.location = "/Home/";
                </script>
                }
                else
                {
                <script type="text/javascript">
                    alert("You already reset your login password.");
                    window.location = "/Home/";
                </script>
                }
            }
        </form>
    </div>
    <div class="password-reset-inst">
        <ol type="i">
            <li>Password should be 9 characters minimum</li>
            <li>One Number</li>
            <li>One Capital</li>
            <li>One Lower Case</li>
        </ol>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("#ResetPassword").click(function () {
            if ($("form")[0].checkValidity()) {
                if ($("#Password").val() == $("#Cpassword").val()) {
                    $.post("/User/ResetPassword", { _userID: $("#hfUserID").val(), _password: $("#Password").val(), _passwordValidateOTP: $("#hfPasswordOTP").val(), _passwordOTP: $("#PasswordOTP").val() }, function (_data) {
                        var data = $.parseJSON(_data);
                        if (data == "Yes") {
                            alert('Password Changed Successfully.');
                            window.location = "/Home/";
                        }
                        else if (data == "No") {
                            alert('User does not exist.');
                            return false;
                        }
                        else if (data == "Matched") {
                            alert('Old Password and New Password cannot be same.');
                            $("#Password").val('');
                            $("#Cpassword").val('');
                            $("#PasswordOTP").val('');
                            return false;
                        }
                        else {
                            alert('Enter OTP did not match. Please try again.');
                            return false;
                        }
                    });
                }
                else {
                    alert('Passwords did not match. Please try again.');
                    return false;
                }
            }
        });
    </script>
}


