<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Report template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <img src="##LogoPath##" height="64" />
    <br />
    <h3>Your reference: <span> ##CaseReferrerReferenceNumber## </span></h3>
    <h3>Name: <span> ##PatientName## </span></h3>
    <br />
    <h3>Dear Treatment Team,</h3>
    <br />
    <p style="font-size: 22px;">Please note <span> ##PatientName## </span> latest report has been submitted via the portal for review.</p>
    <br />
    <h3>Kind Regards</h3>
    <h3><span> ##SupplierName## </span></h3>

</body>
</html>
