<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!--<img src="##LogoPath##" width="520" height="135" />-->
   
   <br />
   <b>**THIS IS AN AUTOMATED MESSAGE - PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL**</b>
    <br />
    </br>
   <text>A document has been upload to the portal for (<span>##FirstName##</span>  <span>##LastName##</span>, <span>##CaseReferenceNumber##</span>). Please login to the portal to view this. </text>
    </br>
    </br>
    <text>Thank You</text>,
    </br>
    </br>
    <text> Innovate Support Team
</text>
</html>
 