@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
@section ContentHeader{
   
}


<br />
<div class="row-fluid">

    <div id="header">
        <h1>
            <a href="#">Unicorn Admin</a></h1>
    </div>
    <div class="container padd-15">
        <div id="primary" class="content-area">
            <div class="row">
                <div class="error-page" style="text-align:center;">
                    <h2 class="error-page-h2">Oops!</h2>
                    <p class="error-page-p">
                        We can't seem to find the page your looking for<br />
                        or some other error occured.
                    </p>
                    <br />
                    <br />
                    <a href="/InternalTasks/index" class="error-Button"><i class="fa fa-arrow-left"></i>&nbsp;Back To Home&nbsp;</a>

                    <br />
                </div>

            </div>
        </div>
    </div>
</div>
