@model ITSPublicApp.Domain.ViewModels.ModifyAuthorityViewModel
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Modification";
    Layout = "~/Areas/Referrer/Views/Shared/_LayoutForm.cshtml";
}
<script src="@Url.Content("~/Scripts/viewmodels/areas/shared/referrer/ModifyAuthorityViewModel.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout.validation.js")" type="text/javascript"></script>
<script type="text/javascript">
    var modifyAuthorityViewModel = new ModifyAuthorityViewModel();
    $(function () {
        ko.applyBindings(modifyAuthorityViewModel, $("#ModifyAuthorityDiv").get(0));
        ko.applyBindings(modifyAuthorityViewModel, $("#divModifiyAuthorityTreatemrnt").get(0));
        modifyAuthorityViewModel.Init(@MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model)));
    });

    //$(function () {
    //    var $select = $(".1-20");
    //    for (i = 1; i <= 20; i++) {
    //        $select.append($('<option></option>').val(i).html(i))
    //    }
    //});
</script>
@section SubHeader{
    <p>
        <span class="its-pwelcome">Modification</span>
    </p>
}
@*Modifiy Treatment Grid *@
<div id="divModifiyAuthorityTreatemrnt">
    <div id="divGridDisplaySpinner" style="position: absolute; top: 50%; left: 50%">
        <div id="divGridDisplay">
        </div>
    </div>
    <div class="ITS-ref-table">
        <table>
            <thead>
                <tr>
                    <td>Type
                    </td>
                    <td>QTY
                    </td>
                    <td>Status
                    </td>

                </tr>
            </thead>
            <tbody>
                <!--ko if:CaseAssessmentModifications()!= null-->
                <!-- ko foreach:CaseAssessmentModifications -->
                <tr>

                    <td>
                        <input type="hidden" data-bind="attr: { name: 'CaseAssessmentModifications['+ $index() + '\].Type' },value:Type" />
                        <input type="hidden" data-bind="attr: { name: 'CaseAssessmentModifications['+ $index() + '\].QTY' },value:QTY" />
                        <input type="hidden" data-bind="attr: { name: 'CaseAssessmentModifications['+ $index() + '\].Status' },value:Status" />
                        <span data-bind="text:Type"></span>
                    </td>
                    <td>
                        <span data-bind="text:QTY"></span>
                    </td>
                    <td>
                        <span data-bind="text:Status"></span>
                    </td>

                </tr>
                <!--/ko-->
                <!--/ko-->
            </tbody>
        </table>
    </div>
</div>
@*Modifiy Grid Ends here*@
<div id="ModifyAuthorityDiv">
    @*<div class="sub-head-link">  //As per task number 3349
        <p>
            <!--ko if:IsCustom -->
            <a data-bind="attr : { 'href':DownloadPath()}">View Authority Requested</a>
            <!--/ko -->
            <!--ko ifnot:IsCustom-->
            <a data-bind="attr: { href: ReferralDownloadPath }">View Authority Requested</a>
            <!--/ko -->

        </p>
    </div>*@

    <div class="modification-container">
        <p style="margin-bottom: 14Px;">
            Case Number : <span data-bind="text:CaseNumber" style="font-weight: normal"></span>

        </p>

      @*  <p style="margin-bottom: 14Px;">
            Treatment Sessions :<select class="1-20" id="objTreatmentSession" name="TreatmentSession"></select>

        </p>
        <p style="margin-bottom: 14Px;">
            Assessment  :
            <select id="objAssessmentServiceID" name="AssessmentServiceID">
                <option value="0">Select Assessment</option>
                <option value="2">Review Assessment</option>
                <option value="3">Final Assessment</option>
            </select>
        </p>*@
        <p>
            Notes:
        </p>
        <textarea rows="50" cols="20" data-bind="value:modifyTextArea"></textarea>
    </div>
    <div class="its-authorisation-row6">
        <p>
            <input type="submit" class="its-submitbutton" data-bind="click:SubmitClick" />
        </p>
    </div>
    <div class="clear">
    </div>
</div>
