<table class="table table-bordered table-striped table-hover sortable">
    <thead>
        <tr>
            <th>
                Bespoke Service Name
            </th>
            <th>
                Referrer Price
            </th>
          @*  <th>
                Supplier Price
            </th>*@
            <th data-bind="visible:$root.CaseAssessment.AssessmentAuthorisationID()==2">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <!--ko foreach:$root.CaseBespokeServicePricing-->
        <tr>
            <td>
                <span data-bind="text: BespokeServiceName"></span>
                <input type="hidden" data-bind="attr: { name : 'CaseBespokeServicePricings['+ $index() + '].TreatmentCategoryBespokeServiceID' },value: TreatmentCategoryBespokeServiceID" />
            </td>
            <td>
                <span data-bind="text: ReferrerPrice"></span>
                <input type="hidden" data-bind="attr: { name : 'CaseBespokeServicePricings['+ $index() + '].ReferrerPrice' },value: ReferrerPrice" />
                <input type="hidden" data-bind="attr: { name : 'CaseBespokeServicePricings['+ $index() + '].CaseID' },value:CaseID" />
            </td>
            
              @*  <span data-bind="text: SupplierPrice"></span>*@
                <input type="hidden" data-bind="attr: { name : 'CaseBespokeServicePricings['+ $index() + '].SupplierPrice' },value: SupplierPrice" />
                <input type="hidden" data-bind="attr: { name : 'CaseBespokeServicePricings['+ $index() + '].CaseBespokeServiceID' },value: CaseBespokeServiceID" />
           
            <td data-bind="visible:$root.CaseAssessment.AssessmentAuthorisationID()==2">
                <center>
                    <a href="" data-bind="click:$root.deleteBespokeCasePricing">Delete</a>
            </td>
        </tr>
        <!--/ko-->
    </tbody>
    <tfoot>
        <!--ko if: $root.CaseBespokeServicePricing().length == 0 -->
        <tr>
            <td colspan="5">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">
                        &times;</button>
                    Case Bespoke Service Treatment Pricng Grid Empty
                </div>
            </td>
        </tr>
        <!--/ko-->
    </tfoot>
</table>
