#modelPopComplain
{
    border: 1px solid;
    margin: 20px;
    overflow: hidden;
}
.star
{
    color: Red;
}
.clear
{
    clear: both;
}
.model-container
{
}
.model-container .row
{
}

.model-container .left
{
    border-left: 1px solid;
    border-top: 1px solid;
    float: left;
    padding: 14px;
    width: 217px;
    background: none repeat scroll 0 0 #77B531;
}
.model-container .right
{
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    float: left;
    padding: 8px;
    width: 470px;
}

.model-container .right input[type="text"]
{
    padding: 4px;
    width: 250px;
}

.model-container .right select
{
    padding: 5px;
    width: 261px;
}
.model-container .right textarea
{
    height: 100px;
    padding: 5px;
    width: 451px;
}
.pop-buttons
{
    padding-top: 10px;
    float: right;
}

.pop-buttons input[type="submit"]
{
    float: right;
    width: 80px;
    padding: 10px;
    background: none repeat scroll 0 0 #EBE8D;
}
