<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!--<img src="##LogoPath##" width="520" height="135" />-->
    <img src="##LogoPath##" height="135" />
    <br />
    <br />
    <span>Your reference: <span>##ReferenceNumber## </span></span>
     <br />
    <br />
    <span>Our reference: <span>##CaseReferenceNumber## </span></span>
    <br />
    <br />
    <span>Name: <span>##PatientName##</span>,</span>
    <br />
    <br />
    <span>Dear ##ReferrerName##,</span>
    <br />
    <br />
    <span>Please note ##PatientName## (##AssessmentType##) is available for your review via Innovate Healthcare’s Portal. 
        The clinician has recommended ##TreatmentSessions## treatment sessions. As this is under the amount of delegated authority 
        that we have been provided, We have instructed the clinic to carry out this treatment. Scheduled and attended sessions will be available for you to view via the portal. 
    </span>
    <br />
    <span>We will update you further in due course.</span>
    <br />
    <br />
    <span>Should you have any queries in the meantime please do not hesitate to contact us.</span>
    <br />
    <br />
    <span>Kind Regards,</span>
    <br />
    <br />
    <span>Innovate Treatment Services</span>
    <br />
    <br />
    <img src="##LogoPath##" width="280" height="75" />
    <br />
    <br />
    <span style="color: #094578;">E-mail: <a href="mailto:treatment@innovatehmg.co.uk" style="text-decoration: underline;">treatment@innovatehmg.co.uk </a></span>
    <br />
    <span style="color: #094578;">Web: <a href="http://www.innovatehmg.co.uk/" style="text-decoration: underline;">www.innovatehmg.co.uk</a></span>
    <br />
    <br />
    <img src="##LogoPath2##" width="450" height="70" /><br />
    <img src="##LogoPath3##" width="380" height="75" style="margin-top: 2%;" />
    <br />
    <br />
    <span style="font-size: 16.5px; margin-top: 10px; color: #094578;">This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed.
                    If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the
                    individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately
                    by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified
                    that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.
    </span>
</body>
</html>
