<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>      <img src="##LogoPath##" width="520" height="135" />
                <br /><br />
                <h3>Dear <span>##SupplierName## </span></h3>
                <h3>Our Reference: <span> ##ReferenceNumber## </span></h3>
                <h3>Name: <span>##PatientName## </span></h3>
                <br /><br />
                <p style="font-size:22px;">A new referral has been made via Innovate Healthcare’s Portal, in-regards to arranging <span> ##TreatmentType## </span>for <span>##PatientName##</span>.</p style="font-size:17px;">
                <p style="font-size:22px;">Please login to review the referral and to make the necessary arrangements as per Innovate and <span> ##SupplierName## </span>service level agreement.</p>
                <br /><br />
                <h3>Kind Regards,</h3>
                <h3>Innovate Treatment Services</h3>
                <img src="##LogoPath##" width="280" height="75" />
                <br /><br />
                <h3 style="color:#094578;">E-mail: <a href="treatment@innovatehmg.co.uk"  style="text-decoration:underline;">treatment@innovatehmg.co.uk </a></h3>
                <h3 style="color:#094578;">Web: <a href="http://www.innovatehmg.co.uk/"  style="text-decoration:underline;">www.innovatehmg.co.uk</a></h3>
                <br /><br />
                <img src="##EmailLogo3Path##" width="450" height="70" /><br />
                <img src="##EmailLogo2Path##" width="380" height="75" style="margin-top:2%;"/>
                <br /><br />
                <p style="font-size:16.5px;margin-top:10px;color:#094578;">
                    This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed.
                    If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the
                    individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately
                    by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified
                    that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.
                </p>
           
</body>
</html>