<table class="table table-bordered  sortable">
    <thead>
        <tr>
            <th>
                Service Date
            </th>
            <th>
                Treatment Type
            </th>
            <th>
                Referrer Price
            </th>
            <th>
                Supplier Price
            </th>
            <!--ko if: (model.workflowID < 220) -->
            <!--ko if: (DateOfService != "") -->
            <th>
                Action
            </th>
            <!-- /ko -->
            <!-- /ko -->
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody data-bind="foreach:CaseTreatmentPricings">
        <tr data-bind="style: {backgroundColor: AuthorizationStatusText() == 'Treatment Not Authorized' ? '#cccccc':'white'}">
            <td data-bind="text:DateOfService">
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].ReferrerPricingID' },value: ReferrerPricingID" />
            </td>
            <td>
                <span data-bind="text:PricingTypeName"></span>
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].ReferrerPrice' },value:ReferrerPrice" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].CaseID' },value:$parent.CaseID" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].SupplierPrice' },value:SupplierPrice" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].SupplierPriceID' },value:SupplierPriceID" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].CaseTreatmentPricingID' },value:CaseTreatmentPricingID" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].SupplierPrice' },value:SupplierPrice1" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].ReferrerPrice' },value:ReferrerPrice1" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].IsComplete' },value:IsComplete" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].AuthorizationStatus' },value:AuthorizationStatus" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].PatientDidNotAttend' },value:PatientDidNotAttend" />
                <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].WasAbandoned' },value:WasAbandoned" />
               @* <input type="hidden" data-bind="attr: { name : 'CaseTreatmentPricingTypes['+ $index() + '].PatientDidNotAttendDate' },value:PatientDidNotAttendDate" />*@
            </td>
            <td data-bind="text:ReferrerPrice">
            </td>
            <td data-bind="text:SupplierPrice">
            </td>
            <!--ko if: (model.workflowID < 220) -->
            <td>
                <!--ko if: (DateOfService == null) -->
               @*<a href="" data-bind="click:$root.removeCaseTreatmentPricing">Delete</a> *@    
                <a href="" id="btnEditCaseTreatmetnPricing" data-bind="click:$root.editCaseTreatmentPricing">Modify</a>
                <!-- /ko -->
            </td>            
            <!-- /ko -->
            <td data-bind="text: AuthorizationStatusText">                
            </td>
        </tr>
    </tbody>
    <tfoot>
        @*<!--ko if:CaseTreatmentPricings().length > 0 -->
        <tr>
            <td class="span2">
                Total Accounts Payables :
            </td>
            <td data-bind="text:AccountPayables" class="span2">
            </td>
            <td class="span2">
                Total Accounts Receivables :
            </td>
            <td data-bind="text:(AccountPayables()-SupplierPriceTotal())" class="span2">
            </td>
        </tr>
        <!-- /ko -->*@
        <!--ko if:CaseTreatmentPricings == null -->
        <tr>
            <td colspan="4">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">
                        &times;</button>
                    No records are found.
                </div>
            </td>
        </tr>
        <!-- /ko -->
    </tfoot>
</table>
