<div class="its-footer">
    <div class="its-blue-border">
    </div>
    <div class="its-wrapper">
        <div class="f-col-1">
            <a href="#">www.innovatehmg.co.uk</a></div>
        <div class="f-col-2">
            &copy; Copyright  <span id="currentyear"></span> Innovate Healthcare Management Group. All Rights Reserved.</div>
        <div class="f-col-3">
            <p>
                Tel No.: 0161 475 0619<br />
                <br />
                Innovate Treatment Services,<br />
                Regent House<br />
                Stockport, SK4 1BS</p>
        </div>
        <div class="clear">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#currentyear").text(new Date().getFullYear());
    });
</script>
