<div class="its-header">
    <div class="col-1">
        <div class="its-logo">
        </div>
    </div>
    <div class="col-2">
        <div class="its-innovate">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
