<div class="form-horizontal">
    <div class="Header span12">
        <div class="HeaderTitle">
        </div>
        <div class="span12">
            <h5>
                Here you can control the types of assessments that are provided to the patient on
                behalf of the selected referrer under the current project.
            </h5>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Initial Assessment :
        </label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="InitialAssessment" value="true" checked />
            </label>
            Default
            <label class="radio inline">
                <input type="radio" name="InitialAssessment" value="false" disabled="disabled" />
            </label>
            Custom
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Return Assessment :
        </label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="ReturnAssessment" value="true" checked />
            </label>
            Default
            <label class="radio inline">
                <input type="radio" name="ReturnAssessment" value="false" disabled="disabled" />
            </label>
            Custom
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Final Assessment :
        </label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="FinalAssessment" value="true" checked />
            </label>
            Default
            <label class="radio inline">
                <input type="radio" name="FinalAssessment" value="false" disabled="disabled" />
            </label>
            Custom
        </div>
    </div>
    @*    <div class="modal-footer">
        <div class="column-groups-button">
            <button id="btnSave" type="submit" class="btn btn-primary" data-loading-text="Saving...">
                Update</button>
        </div>
        <div class="clear">
        </div>
    </div>*@
</div>
