<div id="divInjuryAndSymptom" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Create Case Treatment Grid based on "How many sessions do you recommend ?"
        </h3>
    </div>
   @* <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="input01">
                Symptom Description / Affected Area :
            </label>
            <div class="controls">
                <input placeholder=" Symptom Description / Affected Area" class="input-large" type="text"
                    data-bind="value:AffectedArea" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input01">
                Pain Score (please give a score out of 10) :
            </label>
            <div class="controls">
                <input placeholder="Pain Score (please give a score out of 10)" class="input-large"
                    type="text" data-bind="value:PainScore" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input01">
                Restriction to range of movement :
            </label>
            <div class="controls">
                <input placeholder="Restriction to range of movement" class="input-large" type="text"
                    data-bind="value:RestrictionPercentage" />
            </div>
        </div>
    </div>*@
    <div class="modal-footer">
       @* <button class="btn btn-primary" type="submit" data-bind="click:addmoreInjuryAndSymptom">
            Add</button>*@
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
    </div>
</div>
